<!DOCTYPE html>
<html>
<head>
    <title>ICC RANKING</title>
    <style>
.button {
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #4CAF50;} /* Green */
</style>
</head>
<body>
     <button  class="button button1" onclick="document.getElementById('myImage').src='images/odi.png'">ODI</button>
    <button class="button button2" onclick="document.getElementById('myImage').src='images/test.png'">Test</button>
    <button class="button button3" onclick="document.getElementById('myImage').src='images/tt.png'">T20</button><br>

<img id="myImage" src="images/odi.png" style="width:320px" height="390px">


</body>
</html>