<!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CricWorld</title>
        <base href="/"> <!--this is required because earlier it's not loading CSS file because MIME checking was enabled -->
        <link rel="stylesheet" type="text/css" href="static/css/styletwo.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="icon" type="text/css" href="static/images/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="static/js/java.js"></script>
    </head>
    <body class="body">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">Cric<b>World</b></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link">HOME</a>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">NEWS</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item"> हिंदी</a>
                        <a href="#" class="dropdown-item">English</a>
                        <a href="#" class="dropdown-item">বাংলায়</a>
                        <a href="#" class="dropdown-item">தமிழ்</a>
                      </div>
                  </div>
                <a href="#" class="nav-item nav-link">MATCHES</a>

                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">VIDEO</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">World Cul </a>
                        <a href="#" class="dropdown-item">IND VS ENG</a>
                        <a href="#" class="dropdown-item">IND VS ENG</a>
                        <a href="#" class="dropdown-item">IND VS ENG</a>
                      </div>
                  </div>
                <a href="#" class="nav-item nav-link active">TEAMS</a>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">STATS</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">ODI Records</a>
                        <a href="#" class="dropdown-item">T20 Records</a>
                        <a href="#" class="dropdown-item">Test Records</a>
                        <a href="#" class="dropdown-item">Player Rankings</a>
              </div>
            </div>
                  <a href="#" class="nav-item nav-link">GALLERY</a>
            <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">MORE</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">About</a>
                        <a href="#" class="dropdown-item">Contacts</a>
                        <a href="#" class="dropdown-item">Ticket Booking</a>
                        <a href="#" class="dropdown-item">Fantasy</a>
              </div>
            </div>
            </div>
            <form class="navbar-form form-inline">
                <div class="input-group search-box">
                    <input type="text" id="search" class="form-control" placeholder="Search here...">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="material-icons">&#xE8B6;</i>
                        </span>
                    </div>
                </div>
            </form>
            <div class="navbar-nav ml-auto action-buttons">
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Login</a>
                      <div class="dropdown-menu action-form">
                        <form action="/examples/actions/confirmation.php" method="post">
                            <p class="hint-text">Sign in with your social media account</p>
                            <div class="form-group social-btn clearfix">
                                <a href="#" class="btn btn-secondary facebook-btn float-left"><i class="fa fa-facebook"></i> Facebook</a>
                                <a href="#" class="btn btn-secondary twitter-btn float-right"><i class="fa fa-twitter"></i> Twitter</a>
                            </div>
                            <div class="or-seperator"><b>or</b></div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="required">
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Login">
                            <div class="text-center mt-2">
                                <a href="#">Forgot Your password?</a>
                            </div>
                        </form>
                      </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Sign up</a>
                      <div class="dropdown-menu action-form">
                        <form action="/examples/actions/confirmation.php" method="post">
                            <p class="hint-text">Fill in this form to create your account!</p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password" required="required">
                            </div>
                            <div class="form-group">
                                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                        </form>
                    </div>
                </div>
              </div>
        </div>
      </nav>
       <div class="box">
            <table class="container">
                    <tr>
                        <td colspan="7"><h2 style = "color : white "} >{{resC.description}}</h2></td>
                     </tr>
                <tr>
                    <td  colspan="7"> <i>{{resC.date}}</i></td>
                </tr>
              <!--First Innings batting-->
                    <tr>
                        <td colspan="7"><h3>{{resC.score1}}  <h4>Innings</h4>    </h3></td>
                    </tr>
                        <tr>
                              <th><h4>Batsman</h4></th>
                              <th><h4>Wicket</h4></th>
                              <th><h4>R</h4></th>
                              <th><h4>B</h4></th>
                              <th><h4>4s</h4></th>
                              <th><h4>6s</h4></th>
                              <th><h4>SR</h4></th>
                         </tr>

                    <tbody>
                          {% for i in resC.summary.data.batting.0.scores %}
                              <tr>
                                  <td>{{i.batsman}}</td>
                                  <td>{{i.dismissal_info}}</td>
                                  <td>{{i.R}}</td>
                                  <td>{{i.B}}</td>
                                  <td>{{i.4s}}</td>
                                  <td>{{i.6s}}</td>
                                  <td>{{i.SR}}</td>
                              </tr>
                          {% endfor %}
                </tbody>
            </table>
        </div>

                  <!--First Innings Bowling -->
                  <div class="box">
                      <table class="container">
                          <thead>
                            <tr>
                              <th><h4>Bowler</h4></th>
                              <th><h4>O</h4></th>
                              <th><h4>M</h4></th>
                              <th><h4>R</h4></th>
                              <th><h4>W</h4></th>
                              <th><h4>NB</h4></th>
                              <th><h4>WD</h4></th>
                              <th><h4>Eco</h4></th>
                              <th><h4>4's</h4></th>
                              <th><h4>6's</h4></th>
                            </tr>
                          </thead>
                           <tbody>
                          {% for i in resC.summary.data.bowling.0.scores %}
                              <tr>
                                  <td>{{i.bowler}}</td>
                                  <td>{{i.O}}</td>
                                  <td>{{i.M}}</td>
                                  <td>{{i.R}}</td>
                                  <td>{{i.W}}</td>
                                  <td>{{i.NB}}</td>
                                  <td>{{i.WD}}</td>
                                  <td>{{i.Econ}}</td>
                                  <td>{{i.6s}}</td>
                                  <td>{{i.4s}}</td>
                              </tr>
                          {% endfor %}
                           </tbody>
                      </table>
                  </div>

                  <!--Second Innings Batting-->

                  {% if resC.batsecond != "null" %}
                      <div class="box">
                          <table class="container">

                                <tr>
                                 <td colspan="7"><h3>{{resC.score2}}  </h3><h4>Innings</h4></td>
                                </tr>
                                <tr>
                                  <th><h4>Batsman</h4></th>
                                  <th><h4>Wicket</h4></th>
                                  <th><h4>R</h4></th>
                                  <th><h4>B</h4></th>
                                  <th><h4>4s</h4></th>
                                  <th><h4>6s</h4></th>
                                  <th><h4>SR</h4></th>
                                </tr>
                                <tbody>
                                {% for i in resC.summary.data.batting.1.scores %}
                                  <tr>
                                      <td>{{i.batsman}}</td>
                                      <td>{{i.dismissal_info}}</td>
                                      <td>{{i.R}}</td>
                                      <td>{{i.B}}</td>
                                      <td>{{i.4s}}</td>
                                      <td>{{i.6s}}</td>
                                      <td>{{i.SR}}</td>
                                  </tr>
                              {% endfor %}
                                </tbody>
                          </table>
                      </div>

                      <!--Second Innings Bowling -->
                      <div class="box">
                          <table class="container">
                              <thead>
                                <tr>
                                  <th><h4>Bowler</h4></th>
                                  <th><h4>O</h4></th>
                                  <th><h4>M</h4></th>
                                  <th><h4>R</h4></th>
                                  <th><h4>W</h4></th>
                                  <th><h4>NB</h4></th>
                                  <th><h4>WD</h4></th>
                                  <th><h4>Eco</h4></th>
                                  <th><h4>4's</h4></th>
                                  <th><h4>6's</h4></th>
                                </tr>
                              </thead>
                                <tbody>
                              {% for i in resC.summary.data.bowling.1.scores %}
                                  <tr>
                                      <td>{{i.bowler}}</td>
                                      <td>{{i.O}}</td>
                                      <td>{{i.M}}</td>
                                      <td>{{i.R}}</td>
                                      <td>{{i.W}}</td>
                                      <td>{{i.NB}}</td>
                                      <td>{{i.WD}}</td>
                                      <td>{{i.Econ}}</td>
                                      <td>{{i.6s}}</td>
                                      <td>{{i.4s}}</td>
                                  </tr>
                              {% endfor %}
                               <tbody>
                          </table>
                      </div>
                  {% endif %}

 <div  class="extra">

    <table class="cont" style="background: #276678;border-radius: 25px">
      <tbody>
              <tr>
                  <td colspan="2">{% if resC.summary.data.winner_team != "null" %}
                            {{ resC.summary.data.winner_team}} have won the Match
                      {% endif %}
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      {% if resC.summary.data.man_of_the_match != "null" %}
                      Man Of The Match : {{resC.summary.data.man_of_the_match.name}}
                      {% endif %}
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                  <h3>{{resC.summary.data.team.0.name}} Squad</h3>
                      {% for i in resC.summary.data.team.0.players %}
                        {{i.name}} ,
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <td>
                      <h3>{{resC.summary.data.team.1.name}} Squad</h3>
                      {% for i in resC.summary.data.team.1.players %}
                        {{i.name}} ,
                      {% endfor %}
                  </td>
               </tr>
            </tbody>
          </table>
      </div>
      <!-- *************************footer start************************* -->
        <!-- Footer -->
        <footer class="page-footer font-small blue-grey lighten-5" style="background-color: black">
          <!-- Footer Links -->
          <div class="container text-center text-md-left mt-5">
            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mb-4">
                <!-- Content -->
                <a href="#"><h3>Cric<b style="color: red">World</b></h3></a>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Follow US ON</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <p >
                   <a href="#" class="fa fa-facebook" style="margin-left :10px; "></a> Facebook
                </p>
                <p>
               <a href="#" class="fa fa-twitter"  style="margin-left :10px; "></a>        Twitter
                </p>
                <p>
                <a href="#" class="fa fa-instagram"  style="margin-left :10px; "></a>    Instagram
                </p>
                <p>
                <a href="#" class="fa fa-youtube"  style="margin-left :10px; "></a>     Youtube
                </p>
                <p>
                <a href="#" class="fa fa-pinterest"  style="margin-left :10px; "></a>   Pinterest
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Company</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <a class="dark-grey-text" href="#signup">Careers</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#!">Advertise</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#aboutus">Privacy Policy</a>
                </p>
                <p>
                  <a class="dark-grey-text" href="#help">Terms of Use</a>
                </p>
                 <p>
                  <a class="dark-grey-text" href="#help">CricWorld Ads</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">CONTACT US</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <p >
                   <a href="#" class="fa fa-google" style="margin-left :10px; "></a> Mail Us  cricworldipl@gmail.com
                </p>
                <p><a href="#" class="fa fa-comments"  style="margin-left :10px; "></a>
                Write About US
                </p>
                <p>
                </a> <input type="text" placeholder="Plz Give Suggestions" name="varun" >
                </p>
                <p>
                <a href="#" class="fa fa-android"  style="margin-left :10px; "></a>  App
                </p>
                <p>
                <a href="#" class="fa fa-apple"  style="margin-left :10px; "></a>  ios
                </p>
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center text-black-50 py-3">© 2021 Copyright:
            <a class="dark-grey-text" href="https://mdbootstrap.com/"></a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </body>
</html>